:root {
    --White: hsl(0, 0%, 100%);
    --grisclaro: hsl(212, 45%, 89%);
    --grayishblue: hsl(220, 15%, 55%);
    --darkblue: hsl(218, 44%, 22%);
    --fuenteh2: 'PT Sans', sans-serif;
    --fuenteh3: 'Open Sans', sans-serif;
}
img {
    width: 100%;
    border-radius: 10px;
}
body {
    background-color: var(--grisclaro);
}
.text,
.attribution {
    text-align: center;
}
.container {
    max-width: 300px;
    margin: 0 auto;
    margin-top: 5vh;
}
@media (min-width: 375px) {
    .container{
        margin-top: 20vh;
    }
}
.card {
    background-color: var(--White);
    padding: 20px;
    border-radius: 1rem;
    box-shadow: 5px 5px 15px 5px rgb(0 0 0 / 3%);
}
h3 {
    color: var(--grayishblue);
    font-size: 13px;
    font-family: var(--fuenteh3);
}
h2 {
    color: var(--darkblue);
    font-size: 23px;
    font-family: var(--fuenteh2);
}
